@font-face {
  font-family: 'Myriad Pro Regular';
  src: 
  url('../fonts/Myriad/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/Myriad/MyriadPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}