.about
  padding-top: 199px
  padding-bottom: 116px
  background-color: $light-100
  &__section
    &-title
      max-width: 200px
      margin-bottom: 91px
      letter-spacing: -1.2px
      line-height: 48px

.slider
  &__title
    margin-top: 0
    margin-bottom: 34px
    font-size: 24px
    font-weight: 600
    line-height: 36px
  &__description
    max-width: 310px
    font-size: 16px
    font-weight: 400
    letter-spacing: 0.15px
    line-height: 28px
    color: $secondary
  &__word
    display: inline-block
    margin-top: 15px
    font-size: 12px
    font-weight: 400
    line-height: 25px
    letter-spacing: 0.68px
    color: $primary
