.clients
  padding-top: 158px
  padding-bottom: 160px
  &__section
    &-title
      margin-top: 0
      margin-bottom: 32px
      letter-spacing: -0.20px
      text-align: center
    &-subtitle
      margin-top: 0
      margin-bottom: 136px
      letter-spacing: -0.45px
  &__card
    &-title
      margin-top: 53px
      margin-bottom: 31px
  &__word
    color: $dark
