.video
  padding-top: 350px
  padding-bottom: 198px
  background-color: $light-100
  &__subtitle
    margin-right: 19px
    font-size: 16px
    //font-weight: 400
    color: $dark
    &::after
      content: ''
      width: 20px
      height: 12px
      background: url('../img/camera.svg') no-repeat center
    